<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
  <script>
    function validate() {

      if (document.getElementById("inputPassword3").value != document.getElementById("inputPassword4").value)
        alert("Passwords do no match");
      return document.getElementById("inputPassword3").value == document.getElementById("inputPassword4").value;
      return false;
    }
  </script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

  <%- include('../../statics/common/navbar.ejs'); -%>
    <div class="container">
      <h1>Enter your new password</h1>
      
      <form onSubmit="return validate()" , action="/reg/forgetPassword/<%= userId %>" , method="POST">
        
        
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label" >Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" name="password">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword4" name="confirmPassword">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
      </form>
</body>

</html>